PORT=3002
SAP_BASE_URL=http://AZKTLDS5CP.kcloud.com:8000
SAP_USER=your_sap_username
# Enable mock email mode to save emails locally to middleware/sent_emails/ instead of sending via SMTP
MOCK_EMAIL=true

